img {
  height: 400px;
  width: 400px;
}

.color-title {
  font-weight: normal;
}

#red {
  color: red;
}

#blue {
  color: blue;
}

#orange {
  color: orange;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}
